
@using BlazorLite.Data
@using BlazorLite.Models

@inject BlazorLite.Data.AppDataContext _appDataContext



<div class="row mb-3">
    <div class="col-6">
        <h3>Novo Desenvolvedor</h3>
        <div>

            <label>Nome:</label><br />
            <input type="text" id="name" @bind="@pessoa.Nome" class="form-control" />
            <br />
            <label>Especialidade:</label><br />
            <textarea @bind="@pessoa.Especialidade" class="form-control"></textarea>
            <br />

            @if (ShowConfirmEdit)
            {
                <button class="btn btn-primary btn-lg" @onclick="ConfirmEditDev">Editar</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary btn-lg" @onclick="AddDev">Cadastrar</button>
            }


        </div>
    </div>
</div>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Especialidade</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Pessoas.Count; i++)
        {
            var pessoa = Pessoas[i];
            <tr>
                <td>@pessoa.Id</td>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Especialidade</td>
                <td>
                    <a class="btn btn-danger"   @onclick="()=>RemoveDev(pessoa)">Deletar</a>
                    <a class="btn btn-primary"  @onclick="()=>EditDev(pessoa)">Editar</a>
                </td>
            </tr>
        }

    </tbody>
</table>

@code{
    private Pessoa pessoa = new Pessoa();
    bool ShowConfirmEdit;
    public int counter;

    public IList<Pessoa> Pessoas { get; set; }

    protected override void OnInitialized()
    {
        counter = 1;
        ShowConfirmEdit = false;
        Pessoas = _appDataContext.Pessoas.ToList();
    }

    private void AddDev()
    {
        if (ShowConfirmEdit)
        {
            return;
        }
        _appDataContext.Pessoas.Add(pessoa);
        _appDataContext.SaveChanges();

        Pessoas.Add(pessoa);
        pessoa = new Pessoa();
    }

    private void RemoveDev(Pessoa bug)
    {
        _appDataContext.Pessoas.Remove(bug);
        _appDataContext.SaveChanges();

        Pessoas.Remove(bug);
    }

    private void EditDev(Pessoa bug)
    {
        ShowConfirmEdit = true;
        pessoa = bug;
    }

    private async Task ConfirmEditDev()
    {
        _appDataContext.Pessoas.Update(pessoa);
        await _appDataContext.SaveChangesAsync();
        pessoa = new Pessoa();
    }


}